.products-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px 0;
  border-radius: 6px;
}

.products-section-title {
  width: 100%;
  color: var(--default-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-section-title p {
  font-size: 30px;
  font-weight: 600;
}

.products-section-title a {
  font-size: 16px;
  text-decoration: none;
  color: var(--default-color);
}

.products-section-title a:hover {
  color: var(--hover-color);
}

.view-more-icon {
  padding: 4px 0 0;
  font-size: 16px;
}

.products-sheft {
  margin: 32px 0 64px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-card {
  background-color: #fff;
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 442px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.09);
  /* border: 1px solid #1868d5; */
  border-radius: 12px;
  padding: 16px 16px 0;
  margin-bottom: 36px;
  overflow: hidden;
}

.product-img {
  display: flex;
  align-items: top;
  justify-content: center;
  border-radius: 6px;
  overflow: hidden;
}

.product-thumbnail {
  width: 100%;
  height: fit-content;
}

.btn-add-to-cart {
  height: 48px;
  width: 100%;
  background-color: var(--button-color);
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-add-to-cart:hover {
  background-color: var(--hover-color);
}

.product-sub {
  padding: 16px 0 0;
  display: flex;
  flex-direction: column;
}

.add-to-cart-icon {
  margin-right: 6px;
}

.product-name {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-name:hover {
  color: #1868d5;
}

.product-price {
  font-size: 18px;
  font-weight: 600;
  color: #d11212;
  margin: 20px 0;
}

@media (max-width: 1024px) {
  .products-section {
    padding: 0 20px;
  }

  .product-card {
    width: 48%;
  }
}

@media (min-width: 740px) and (max-width: 1024px) {
  .hide-on-tablet {
    display: none;
  }
}

@media (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }

  .products-sheft {
    flex-direction: column;
    align-items: center;
  }

  .product-card {
    width: 98%;
  }
}
