.contact {
  max-width: 1200px;
  margin: 40px auto;
}

.contact-title {
  color: var(--default-color);
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.contact-map {
  width: 100%;
  height: 244px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 32px;
}

.contact-content {
  display: flex;
  justify-content: space-between;
}

.contact-content-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
}

.contact-content-left {
  width: 40%;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #1868d5;
  border-radius: 6px;
  font-size: 16px;
}

.contact-form input:focus {
  outline: none;
}

.contact-form textarea {
  width: 100%;
  height: 160px;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #1868d5;
  border-radius: 6px;
  font-size: 16px;
}

.contact-form textarea:focus {
  outline: none;
}

.contact-form button {
  height: 40px;
  width: 120px;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: var(--hover-color);
  color: #fff;
}

.contact-sub {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 24px;
}

.contact-sub a {
  text-decoration: none;
  color: #1868d5;
}

.contact-sub a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.contact-sub-icon {
  margin-right: 12px;
}

@media (max-width: 1024px) {
  .contact {
    padding: 0 32px;
  }

  .contact-content-left {
    width: 70%;
    margin-right: 32px;
  }
}

@media (min-width: 740px) and (max-width: 1024px) {
}

@media (max-width: 739px) {
  .contact-content {
    display: flex;
    flex-direction: column;
  }
  .contact-content-left {
    width: 100%;
    margin-bottom: 32px;
  }
}
