.admin-prod-mng .add-prod-btn {
  margin-bottom: 16px;
}

.admin-prod-mng-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-prod-mng-head p {
  color: var(--text-color);
  font-weight: 600;
}

.admin-prod-mng-head span {
  color: var(--default-color);
}

.admin-prod-grid {
  padding: 16px;
  border-radius: 8px;
  background-color: #ebf1ec92;
}

.admin-prod-mng-header {
  display: grid;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  grid-template-columns: 5% auto 11% 13% 5% 14% 14%;
  padding: 0 0 16px;
}

.admin-prod-header-item {
  color: #b7b4b4ce;
  text-align: center;
  font-weight: 600;
}

.admin-prod-mng-container {
  max-height: 62vh;
  overflow-y: scroll;
}

.admin-prod-mng-container::-webkit-scrollbar {
  display: none;
}

.admin-prod-mng-card {
  display: grid;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  grid-template-columns: 5% auto 11% 13% 5% 14% 14%;
  color: var(--text-color);
  font-size: 14px;
}

.admin-prod-mng-card:first-child {
  border: none;
}

.admin-prod-mng-card:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.09);
}

.admin-prod-serrial {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-prod-name {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 16px 0;
}

.admin-prod-name img {
  width: 60px;
  border-radius: 4px;
}

.admin-prod-name p {
  cursor: pointer;
  font-weight: 600;
  width: 200px;
}

.admin-prod-name p:hover {
  color: var(--default-color);
}

.admin-prod-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-prod-price {
  color: #c31f1f;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-prod-rate {
  color: var(--primary-color);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-prod-status {
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-prod-status p {
  color: #53ce8b;
  font-weight: 600;
  padding: 8px;
  border-radius: 4px;
  background-color: #edfaf3;
}

.admin-prod-action {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 24px;
}

.admin-prod-action a {
  display: flex;
  align-items: center;
  height: calc(100% - 4px);
}

.admin-prod-edit-icon {
  cursor: pointer;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  background-color: var(--button-color);
}

.admin-prod-edit-icon:hover {
  background-color: #0f9716;
}

.admin-prod-delete-icon {
  cursor: pointer;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  background-color: #c31f1f;
}

.admin-prod-delete-icon:hover {
  background-color: #950707;
}
